body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(63.13deg, #9CFCF8 0.09%, #6E7BFB 100.46%);

}

p {
    font-family: Fredoka One;
}