//CORES
$cor-primaria: #55c57a;
$cor-primaria-clara: #7ed56f;
$cor-primaria-escura: #28b485;
$cor-cinza-escura: #777;

$cor-branca: #fff;
$cor-preta: #000;
$cor-cinza-claro-1: #f7f7f7;
$cor-cinza-claro-2 : #eee;
$cor-cinza-escuro: #999;
$cor-cinza-escuro-3: #333;

$cor-secundaria-clara: #ffb900;
$cor-secundaria-escura: #ff7730;

$cor-terciaria-clara: #2998ff;
$cor-terciaria-escura: #5643fa;


//GRID
$grid-width: 150rem;
$gutter-vertical: 8rem;
$gutter-vertical-small : 6rem;
$gutter-horizontal: 6rem;

//FONTE

$fontsize-padrao: 1.6rem;