.adidas {
    width: 20.6rem;
    height: 12rem;
    
    position: relative;
    overflow: hidden;
}

.shape {
    width: 4.6rem;
    height: 15rem;
    background: #111;
    position: absolute;
    transform: rotate(-31deg);
    
}

.s1 {
    top: 8.6rem;
    left: 3.6rem;
    
}

.s2 {
    top: 4.5rem;
    left: 8.2rem;
    
}

.s3 {
    top: .4rem;
    left: 12.9rem;
}