.c3 {
    width: 26rem;
    height: 26rem;
    background: #ff4040;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.c2 {
    width: 21rem;
    height: 21rem;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.c1 {
    width: 15rem;
    height: 15rem;
    background: #ff4040;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 10rem;
    height: 10rem;
    background: #306fd4;
    border-radius: 50%;
    position: relative;

}

.arrow {
    position: absolute;
    border-top: 3.5rem solid #fff;
    border-left: 4.8rem solid transparent;
    border-right: 4.8rem solid transparent;
    border-bottom: 4.8rem solid transparent;
    width: 0;
    height: 0;

    
}

.star-top {
    top: 3.5rem;
    left: .2rem;
}

.star-left {
    top: 1.6rem;
    left: -2.4rem;
    transform: rotate(72deg);
}

.star-right {
    top: 1.6rem;
    left: 2.4rem;
    transform: rotate(-72deg);
}