
.snow {
    display: none;
    transition: display 2s;
}

.snow, .snow:after, .snow:before {
    position: absolute;
    top: -65rem;
    left: 0;
    bottom: 0;
    right: 0;    
    background-image: 
    radial-gradient(.4rem .4rem at 10rem 5rem, #fff, transparent),
    radial-gradient(.6rem .6rem at 20rem 15rem, #fff, transparent),
    radial-gradient(.3rem .3rem at 30rem 25rem, #fff, transparent),
    radial-gradient(.4rem .4rem at 40rem 35rem, #fff, transparent),
    radial-gradient(.6rem .6rem at 50rem 10rem, #fff, transparent),
    radial-gradient(.3rem .3rem at 5rem 20rem, #fff, transparent),
    radial-gradient(.4rem .4rem at 15rem 30rem, #fff, transparent),
    radial-gradient(.6rem .6rem at 25rem 40rem, #fff, transparent),
    radial-gradient(.3rem .3rem at 35rem 50rem, #fff, transparent);
    background-size: 65rem 65rem;
    animation: snowAnim 3s linear infinite;
    content: '';
    
}

.snow:after {
    margin-left: -25rem;
    opacity: .5;
    filter: blur(.2rem);
    animation-direction: reverse;
    animation-duration: 6s;
}


.snow:before {
    margin-left: -35rem;
    opacity: .7;
    filter: blur(.1rem);
    animation-direction: reverse;
    animation-duration: 9s;
}

@keyframes snowAnim {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(65rem);
    }
}

